<div class="h-75">
    <h3 class="text-center">Eventos registrados</h3>
<ul class="list-group h-75 overflow-auto">
  <li class="list-group-item active" aria-current="true">Un elemento activo</li>
  <li class="list-group-item">Un segundo elemento</li>
  <li class="list-group-item">Un tercer elemento</li>
  <li class="list-group-item">Un cuarto elemento</li>
  <li class="list-group-item">Un quinto elemento</li>
  <li class="list-group-item">Un quinto elemento</li>
  <li class="list-group-item">Un quinto elemento</li>
  <li class="list-group-item">Un quinto elemento</li>
  <li class="list-group-item">Un quinto elemento</li>
  <li class="list-group-item">Un quinto elemento</li>
  <li class="list-group-item">Un quinto elemento</li>
</ul>
    <h4 class="text-center">Seleccione un evento para ver detalles</h4>
</div>